:root {
  --button-color: var(--white-smoke);
  --button-color--hover: var(--pure-white);
  --button-color--disabled: var(--dusty-white);

  --button-background-color: var(--nero-dark);
  --button-background-color--hover: var(--nero);
  --button-background-color--disabled: var(--blue-whale);

  --button-border-color: transparent;
  --button-border-color--hover: var(--medium-slate-blue);
  --button-border-color--disabled: var(--blue-whale);

  --button-border-radius: var(--border-radius-md);
  --button-border-width: var(--border-width-sm);
  --button-padding: var(--gutter-xs) var(--gutter-sm);

  --button-font-size: var(--font-size-sm);
  --button-font-weight: var(--font-weight-normal);
  --button-font-family: inherit;

  --button-cursor: pointer;
}

.button {
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  border-color: var(--button-border-color);
  border-width: var(--button-border-width);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  font-family: inherit;
  background-color: var(--button-background-color);
  cursor: var(--button-cursor);
  transition: border-color 0.25s;

  &:hover {
    border-color: var(--button-border-color--hover);
    color: var(--button-color--hover);
    background-color: var(--button-background-color--hover);
  }

  &:disabled {
    border-color: var(--button-border-color--disabled);
    color: var(--button-color--disabled);
    background-color: var(--button-background-color--disabled);
  }
}
