@import '../../theme/';

:root {
  // Spacing
  --text-input--margin-horizontal: var(--gutter-sm);
  --text-input--margin-vertical: var(--gutter-md);

  --text-input--input--padding-horizontal: var(--gutter-xs);
  --text-input--input--padding-vertical: var(--gutter-xs);

  // Colours
  --text-input--input--color: var(--nero-dark);
  --text-input--input--color-placeholder: var(--nero-dark);
  --text-input--input--background-color: transparent;
  --text-input--label--color: var(--nero-dark);

  // Typography
  --text-input--input--font-size: var(--font-size-sm);
  --text-input--input--font-weight: var(--font-weight-normal);
  --text-input--input--line-height: var(--line-height-md);
  --text-input--label--font-size: var(--font-size-sm);
  --text-input--label--font-weight: var(--font-weight-normal);
  --text-input--label--line-height: var(--line-height-md);

  // Border
  --text-input--input--border-color: var(--nero-dark);
  --text-input--input--border-width: var(--border-width-sm);
  --text-input--input--border-radius: var(--border-radius-xs);
}

.wrapper {
  margin: var(--text-input--margin-vertical)
    var(--text-input--margin-horizontal);
  @include flex-with-align(flex-start, center, column);

  .label {
    color: var(--text-input--label--color);

    font-size: var(--text-input--label--font-size);
    font-weight: var(--text-input--label--font-weight);
    line-height: var(--text-input--label--line-height);
  }

  .input {
    width: calc(
      100% - var(--text-input--input--padding-horizontal) - var(
          --text-input--margin-horizontal
        )
    );

    color: var(--text-input--input--color);
    background-color: var(--text-input--input--background-color);

    border-color: var(--text-input--input--border-color);
    border-width: var(--text-input--input--border-width);
    border-radius: var(--text-input--input--border-radius);

    font-size: var(--text-input--input--font-size);
    font-weight: var(--text-input--input--font-weight);
    line-height: var(--text-input--input--line-height);

    padding: var(--text-input--input--padding-vertical)
      var(--text-input--input--padding-horizontal);

    &::placeholder {
      color: var(--text-input--input--color-placeholder);
    }
  }
}
