@import "../../theme";

:root {
  --modal-overlay-background-color: var(--black-overlay);
}

.wrapper {
  @include flex-with-align(center, center);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--modal-overlay-background-color);
}

.hidden {
  @include hidden;
}

#modal-root {
  z-index: var(--z-modal);
}
